body{
background-color: beige;
}

#counter, #counterPerClick, #counterLegacy {
font-weight: bold;
font-size: 24px;
color: #3e2723;
}

.centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.upgrade-list {
        list-style-type: none; /* Retire les puces */
        margin: 0;             /* Supprime la marge externe */
        padding: 0;            /* Supprime le retrait interne */
		line-height: 2;		/* Hauteur de ligne */
    }