body{
background-color: beige;
}

#counter, #counterPerClick, #counterLegacy {
font-weight: bold;
font-size: 24px;
color: #3e2723;
}

.centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}